.app {
  width: 100vw;
  min-width: 800px;
  height: 100vh;
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.header {
  border: 3px solid rgb(236, 7, 7);
  padding: 0px 30px;
}

.h1 {
  font: 4em;
}

.footer {
  border: 3px solid rgb(7, 236, 26);
  display: flex;
  align-content: center;
  justify-content: center;
}

.h5 {
  font: 1em;
  margin: 0px;
  padding: 0px;
}
