.character_generator {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85%;
  padding: 10px;
}

.input_row {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}